<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prikaz liste Izdavackih kuca</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Lista Izdavackih kuca</h1>
    <a th:href="@{/createIzdavackaKuca}" class="btn btn-primary btn-sm mb-3"> Dodaj Izdavacku kucu </a>

    <div class="row">
        <div class="col-sm-6" th:each="izdavackaKuca : ${izdavackeKuce}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="'ID:  ' +${izdavackaKuca.idIzdavackaKuca}"></h5>
                    <p class="card-text">
                        Naziv Autora: <strong th:text="${izdavackaKuca.nazivIzdavackeKuce}"></strong>
                    </p>
                    <a th:href="@{/updateIzdavackaKuca/{id}(id=${izdavackaKuca.idIzdavackaKuca})}" class="btn btn-primary">Promeni</a>
                    <a th:href="@{/deleteIzdavackaKuca/{id}(id=${izdavackaKuca.idIzdavackaKuca})}" class="btn btn-danger">Obrisi</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>