<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistem za Menadzment Autora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Sistem za Menadzment Autora</h1>
    <hr>
    <h2>Azuriranje Autora</h2>
    <form action="#" th:action="@{/updateAutor/{id}(id=${autor.idAutora})}" th:object="${autor}" method="POST">
        <label>Naziv Autora:</label>
        <input type="text" th:field="*{nazivAutora}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Azuriraj Autora</button>
    </form>
    <hr>
    <a th:href="@{/autori}"> Vrati se na listu</a>
</div>
</body>
</html>