
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System for Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Users List</h1>
    <a th:href="@{/createKnjiga}" class="btn btn-primary btn-sm mb-3"> Dodaj knjigu </a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID Knjige</th>
            <th>Naziv Knjige</th>
            <th>Autor</th>
            <th>Izdavačka Kuća</th>
            <th>Slikaa</th>
            <th>Zanr</th>
            <th>Količina</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="knjiga : ${knjige}">
            <td th:text="${knjiga.idKnjige}"></td>
            <td th:text="${knjiga.nazivKnjige}"></td>
            <td th:text="${knjiga.kolicina}"></td>
            <td th:text="${knjiga.slika}"></td>
            <td th:text="${knjiga.zanr}"></td>
            <td th:text="${knjiga.autor?.nazivAutora}"></td>
            <td th:text="${knjiga.izdavackaKuca?.nazivIzdavackeKuce}"></td>
            <td>
                <a th:href="@{/updateKnjiga/{id}(id=${knjiga.idKnjige})}" class="btn btn-primary">Izmeni</a>
                <a th:href="@{/deleteKnjiga/{id}(id=${knjiga.idKnjige})}" class="btn btn-danger">Obriši</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>