<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Pozajmljivanje</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Management System</h1>
    <hr>
    <h2>Add Pozajmljivanje</h2>
    <form action="#" th:action="@{/createPozajmljivanje}" th:object="${pozajmljivanje}" method="POST">
        <div class="form-group">
            <label>Knjiga:</label>
            <select th:field="*{idKnjige}" class="form-control mb-4 col-4">
                <option th:each="knjiga : ${knjige}" th:value="${knjiga.idKnjige}" th:text="${knjiga.nazivKnjige}"></option>
            </select>
        </div>
        <div class="form-group">
            <label>Korisnik:</label>
            <select th:field="*{idKorisnika}" class="form-control mb-4 col-4">
                <option th:each="korisnik : ${korisnici}" th:value="${korisnik.idKorisnika}" th:text="${korisnik.naziv}"></option>
            </select>
        </div>
        <div class="form-group">
            <label>Datum Iznajmljivanja:</label>
            <input type="date" th:field="*{datumIznamljivanja}" class="form-control mb-4 col-4">
        </div>
        <button type="submit" class="btn btn-info col-2"> Add Pozajmljivanje</button>
    </form>
    <hr>
    <a th:href="@{/pozajmljivanje_knjige}"> Back to Pozajmljivanja List</a>
</div>
</body>
</html>