<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prikaz liste uloga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Your Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="autori">Autori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="knjige">Knjige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="izdavacke-kuce">Izdavacke Kuce</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="korisnici">Korisnici</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="uloge">Uloge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pozajmljivanje-knjige">Pozajmljivanje Knjige</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-2">
    <h1>Lista Uloga</h1>
    <a th:href="@{/createUloga}" class="btn btn-primary btn-sm mb-3"> Add Role </a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id Uloge</th>
            <th>Naziv Uloge</th>
            <th>Akcije </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="uloga : ${uloge}">
            <td th:text="${uloga.idUloge}"></td>
            <td th:text="${uloga.imeUlogeKorisnika}"></td>
            <td>
                <a th:href="@{/updateUloga/{id}(id=${uloga.idUloge})}" class="btn btn-primary">Azuriraj</a>
                <a th:href="@{/deleteUloga/{id}(id=${uloga.idUloge})}" class="btn btn-danger">Obrisi</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>